@using cloudscribe.Web.Navigation
@model NavigationViewModel
@functions {
}
<ul class="nav navbar-nav" role="menubar">
    <li class='@Model.GetClass(Model.RootNode.Value)'><a href="@Url.Content(Model.AdjustUrl(Model.RootNode))">@Html.Raw(Model.GetIcon(Model.RootNode.Value))@Model.AdjustText(Model.RootNode)</a></li>
    @if (Model.HasVisibleChildren(Model.RootNode))
    {
        @foreach (var node in Model.RootNode.Children)
        {
            if (!Model.ShouldAllowView(node)) { continue; }
            <li class='@Model.GetClass(node.Value)'><a role="menuitem" href="@Url.Content(Model.AdjustUrl(node))">@Html.Raw(Model.GetIcon(node.Value))@Model.AdjustText(node)</a></li>
        }
    }
</ul>
