@using cloudscribe.Web.Navigation
@using System.Text
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<cloudscribe.Web.Navigation.MenuResources> sr
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NavigationViewModel
@if (Model.HasVisibleChildren(Model.StartingNode))
{
    <ul class="nav nav-pills flex-column" id="side-menu">
        @foreach (var node in Model.StartingNode.Children)
        {
            if (!Model.ShouldAllowView(node)) { continue; }
            if (!Model.HasVisibleChildren(node))
            {
                <li class="nav-item"><a class="nav-link @(node.EqualsNode(Model.CurrentNode) ? "active" : "")" href="@Url.Content(Model.AdjustUrl(node))">@Html.Raw(Model.GetIcon(node.Value))@sr[Model.AdjustText(node)]</a></li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link @(node.EqualsNode(Model.CurrentNode) ? "active" : "")" href="@Url.Content(Model.AdjustUrl(node))">@Html.Raw(Model.GetIcon(node.Value))@sr[Model.AdjustText(node)]</a>
                    @Model.UpdateTempNode(node)
                    <partial name="Bs4SideNavPartial" model="@Model" />
                </li>
            }
        }
    </ul>
}
