@using cloudscribe.Web.Navigation
@using System.Text
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<cloudscribe.Web.Navigation.MenuResources> sr
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NavigationViewModel
@if (await Model.HasVisibleChildren(Model.CurrentNode))
{
    <ul class="childtree" role="menu">
        @foreach (var node in Model.CurrentNode.Children)
        {
            if (! await Model.ShouldAllowView(node)) { continue; }
            if (! await Model.HasVisibleChildren(node))
            {
                <li role="menuitem" class='@Model.GetClass(node.Value)'><a href="@Url.Content(Model.AdjustUrl(node))">@Html.Raw(Model.GetIcon(node.Value))@sr[Model.AdjustText(node)]</a></li>
            }
            else
            {
                <li role="menuitem" class='@Model.GetClass(node.Value)'>
                    <a href="@Url.Content(Model.AdjustUrl(node))">@Html.Raw(Model.GetIcon(node.Value))@sr[Model.AdjustText(node)]</a>
                    @Model.UpdateTempNode(node) <partial name="NavigationNodeChildTreePartial" model="@Model" />
                </li>
            }
        }
    </ul>
}
