@using cloudscribe.Web.Navigation
@model NavigationViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<cloudscribe.Web.Navigation.MenuResources> sr
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if ((Model.TempNode != null) && (await Model.HasVisibleChildren(Model.TempNode)))
{
    @foreach (var childNode in Model.TempNode.Children)
    {
        if (! await Model.ShouldAllowView(childNode)) { continue; }

        if (! await Model.HasVisibleChildren(childNode))
        {
            <a class="nav-link" href="@Url.Content(Model.AdjustUrl(childNode))">
                <h6 class="card-subtitle text-muted text-center mb-2">
                    @Html.Raw(Model.GetIcon(childNode.Value))
                </h6>
                <h6 class="card-subtitle text-muted text-center">
                    @sr[Model.AdjustText(childNode)]
                </h6>
            </a>
        }
        else
        {
            <a class="nav-link" href="@Url.Content(Model.AdjustUrl(childNode))">
                <h6 class="card-subtitle text-muted text-center mb-2">
                    @Html.Raw(Model.GetIcon(childNode.Value))
                </h6>
                <h6 class="card-subtitle text-muted text-center">
                    @sr[Model.AdjustText(childNode)]
                </h6>
            </a>
            @Model.UpdateTempNode(childNode) <partial name="Bs5SiteAdminMainChildPartial" model="@Model" />
        }
    }
}