@using cloudscribe.Web.Navigation
@model NavigationViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<cloudscribe.Web.Navigation.MenuResources> sr
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@if ((Model.TempNode != null) && (await Model.HasVisibleChildren(Model.TempNode)))
{
    <ul class="list-unstyled ms-4 ">

        @foreach (var childNode in Model.TempNode.Children)
        {
            if (! await Model.ShouldAllowView(childNode)) { continue; }

            if (! await Model.HasVisibleChildren(childNode))
            {
                if (childNode.EqualsNode(Model.CurrentNode))
                {
                    <li class="nav-item"><a class="nav-link active" href="@Url.Content(Model.AdjustUrl(childNode))">@Html.Raw(Model.GetIcon(childNode.Value))@sr[childNode.Value.Text]</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" href="@Url.Content(Model.AdjustUrl(childNode))">@Html.Raw(Model.GetIcon(childNode.Value))@sr[childNode.Value.Text]</a></li>
                }
            }
            else
            {
                if (childNode.EqualsNode(Model.CurrentNode))
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Content(Model.AdjustUrl(childNode))">
                            @Html.Raw(Model.GetIcon(childNode.Value))@sr[childNode.Value.Text]
                        </a>
                        @Model.UpdateTempNode(childNode)
                        <partial name="Bs5SideNavPartial" model="@Model" />  @* recursion *@
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Content(Model.AdjustUrl(childNode))">
                            @Html.Raw(Model.GetIcon(childNode.Value))@sr[childNode.Value.Text]
                        </a>
                        @Model.UpdateTempNode(childNode)
                        <partial name="Bs5SideNavPartial" model="@Model" /> @* recursion *@
                    </li>
                }
            }
        }
    </ul>
}
