@using cloudscribe.Web.Navigation
@model NavigationViewModel
@if ((Model.TempNode != null) && (Model.HasVisibleChildren(Model.TempNode)))
{
    <ul role="menu">
        @foreach (var childNode in Model.TempNode.Children)
        {
            if (!Model.ShouldAllowView(childNode)) { continue; }

            if (!Model.HasVisibleChildren(childNode))
            {
                <li class='@Model.GetClass(childNode.Value)'><a href="@Url.Content(Model.AdjustUrl(childNode))">@Html.Raw(Model.GetIcon(childNode.Value))@childNode.Value.Text</a></li>
            }
            else
            {
                <li class='@Model.GetClass(childNode.Value)'>
                    <a href="@Url.Content(Model.AdjustUrl(childNode))">@Html.Raw(Model.GetIcon(childNode.Value))@childNode.Value.Text</a>
                    @Model.UpdateTempNode(childNode)@Html.Partial("NavigationNodeChildTreePartial", Model) @* recursion *@
                </li>
            }
        }
        </ul>
}