@using cloudscribe.Web.Navigation
@model NavigationViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<cloudscribe.Web.Navigation.MenuResources> sr
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@if ((Model.TempNode != null) && (await Model.HasVisibleChildren(Model.TempNode)))
{
    <ul class="nav nav-second-level" role="menu">
        @foreach (var childNode in Model.TempNode.Children)
        {
            if (! await Model.ShouldAllowView(childNode)) { continue; }
            if (! await Model.HasVisibleChildren(childNode))
            {
                <li role="menuitem" class='@Model.GetClass(childNode.Value)'><a href="@Url.Content(Model.AdjustUrl(childNode))">@Html.Raw(Model.GetIcon(childNode.Value))@sr[Model.AdjustText(childNode)]</a></li>
            }
            else
            {
                <li role="menuitem" class='@Model.GetClass(childNode.Value)'>
                    <a href="@Url.Content(Model.AdjustUrl(childNode))">@Html.Raw(Model.GetIcon(childNode.Value))@sr[Model.AdjustText(childNode)]</a>
                    @Model.UpdateTempNode(childNode) <partial name="NavigationNodeSideNavPartial" model="@Model" />  @* recursion *@
                </li>
            }
        }
    </ul>
}
